/vendor/
/api/EssMobile_demo
/Employee/CovidCert
/Employee/HealthIDCard
/Employee/Images
/Employee/ImgTds1202021
/Employee/ImgTds1202022
/phpmyadmin/
/.well-known
/Employee/vendor/
/Employee/ESIC_Card/
/Employee/AssetReqUploadFile
/Employee/CoronaKavach1_2020
/Employee/AppUploadFile